/* DoctorPage.css */
.doctorpage {
    text-align: center;
  }
  
  .doctordetails {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
  }
  
  .doctorimage {
    max-width: 200px;
    border-radius: 50%;
  }
  
  .studentform {
    margin-top: 20px;
  }
  
  .inputfield {
    margin: 10px;
    padding: 5px;
    width: 200px;
  }
  
  .proceedbutton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  