/* PharmacistPage.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f7ff; /* Light blue background color */
  }
  
  .pharmacist-page {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #007bff; /* Blue border */
    border-radius: 8px;
    background-color: #fff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    color: #007bff; /* Blue heading color */
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Dark text color */
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  /* Additional styles for interactive elements */
  input:focus, button:focus {
    outline: 2px solid #0056b3; /* Darker blue focus outline */
  }
  .student-details {
    display: flex;
    align-items: center;
  }
  
  .photo-container {
    flex: 1;
    max-width: 50%; /* Adjust as needed */
    margin-right: 20px;
  }
  
  .photo-container img {
    max-width: 100%;
    height: auto;
  }
  
  .details-container {
    flex: 1;
  }
  